@media screen and (min-width: 1200px) {

    .hot-tour-item:nth-child(n+1):nth-child(-n+3) {
        display: initial;
    }
}

@media screen and (max-width: 1200px) and (min-width: 680px) {
    .hot-tour-item:nth-child(n+1):nth-child(-n+2) {
        display: initial;
    }

}

@media screen and (max-width: 1200px) {

    div.flex-container {
        font-size: 1rem;
    }

    .hot-tour-item {
        margin: 20px;
    }

    .hot-tour h4 {
        margin: 25px;
        font-size: 1.1rem;
    }

    nav {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .carousel-hot-tour {
        align-self: center;
    }

    div.flex-container-bg {
        background-position-y: 6.4rem;
    }

    .about-as h4 {
        margin: 3.5rem 0 2.6rem 0;
        font-size: 1.1rem;
    }

    .about-as article {
        flex-grow: 0.8;
    }

    .about-as article h1 {
        width: 132px;
        height: 120px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 680px) {

    div.flex-container {
        font-size: 0.9rem;
    }

    .hot-tour h4 {
        margin: 20px;
    }

    .hot-tour-item {
        margin: 15px;
    }

    .hot-tour-item:nth-child(n+1):nth-child(-n+1) {
        display: initial;
    }

    div.flex-container-bg {
        background-position-y: 4.4rem;
    }

    .about-as h4 {
        margin: 2.5rem 0 1.6rem 0;
    }

    .about-as article h1 {
        width: 100px;
        height: 90px;
        font-size: 1.5rem;
        padding: 1.7rem;
    }

}